#div1{
height:40px;
width: 250px;
position: relative;
font-size: 30px;
border: solid black;
top: 30px;
left: 300px;
border-width: 3px 1px 3px 1px;
text-align: center;
padding: 5px;
animation: fade is ease-in-out infinite alternate;
}
@keyframe fade{
    from{
        opacity:1;
    }
    to{
       opacity:0; 
    }
    
}